# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Journey of Computer Science\MIT-6.00.1-Computer-Science\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
